@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #fefefe;
  margin: 0 auto;
  font-family: "Arial";
  background: linear-gradient(to bottom, #e3eaefe6, #e2e9ee 7%, #ffffff 20%),
  url(../img/world_map_black.png);
  background-position: top;
  background-repeat: no-repeat;
}

p{
  padding: 0px;
  margin: 0px;
}
ul, h1, h2, h3, h4, h5, figcaption{
  margin: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
header{
  margin: 0 auto;
  display: flex;
  max-width: 980px;
  align-items: center;
  justify-content: space-between;
  padding: 39px 0px;
}
.logo_link{
  display: inline-block;
}
.logo-img{
  max-width: 172px;
}
.header_menu_list{
  padding-right: 28px;
  position: relative;
}
.header_menu_list li{
  text-transform: capitalize;
  display: inline-block;
  padding: 0px 9px;
}
.header_menu a{
  color: #3c3c3c;
  font-size: 13px;
  text-decoration: none;
}
.header_menu a:hover{
  color:#ae3b44;
}
.header_menu_list_middle{
  display: none;
  position: absolute;
  top: 100%;
  right: 32%;
}
.header_menu .header_menu_list li:hover > .header_menu_list_middle{
  display: inherit;
}
 .header_menu_list_middle li{
  min-width: 132px;
  background-color: #202020;
  display: list-item;
  position: relative;
  list-style-type: none;
  padding: 4px 0 5px 14px;
 }
 .header_menu_list_middle a{
  text-decoration: none;
  color: #8c8f91;
  display: inline-block;
  width: 100%;
  /* padding-left: 2px; */
  /* padding-bottom: 3px; */
 }
 .header_menu_list_middle .header_menu_list_middle_element a:hover{
  color:#ffffff;
  cursor: pointer;
}
.header_menu_list_low{
  display: none;
  position: absolute;
  top: 0;
  left: 75%;
}
.header_menu_list_low li{
  min-width: 135px;
  padding-left: 12px;
 }
.header_menu_list_middle .header_menu_list_middle_element:hover > .header_menu_list_low{
  display: inherit;
}
.header_menu_list_middle::before{
  content: ''; 
  position: absolute;
  right: 65px; 
  top: -10px;
  border: 5px solid transparent; 
  border-bottom: 5px solid #212122;
}
.header_menu_list_middle > li:first-child:hover::after{
  content: ''; 
    position: absolute;
    left: 145px; 
    top: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #212122;
    z-index: 4;
}
.header_menu_list_middle > li:first-child:hover::before{
  content: ''; 
    position: absolute;
    left: 102%; 
    top: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #e5ebef;
    z-index: 3;
}
/* .last_item{
  padding-top: ;
} */


main{
  margin: 0 auto;
  max-width: 980px;
}
.about{
  display: flex;
  max-height: 128px;
  background-color: #ad3b43;
  border-top: 5px solid #000000;
  justify-content: space-between;
}
.about_img{
  max-width: 250px;
}
.about_block{
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-left: 36px;
}
.about_heading{
  color: #edf2f5;
  text-transform: capitalize;
  line-height: 1;
  display: flex;
  align-items: center;
}
.about_heading h3{
   font-size: 24px;
   font-weight: 400;
   width: 160px;
   letter-spacing: -0.16px;
   line-height: normal;
   font-style: normal;
}
.about_text{
  flex: 0.85;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about_text_paragraph{
  width: 433px;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
letter-spacing: normal;
line-height: 19px;
text-align: justify;
}
.fa-angle-left, .fa-angle-right{
  color: #ffffff;
}
.fa-angle-right{
  margin-left: 10px;
}
.about_arrow{
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.main_content{
  display: flex;
}
.side_menu{
  width: 243px;
}
article{
  width: 700px;
  padding: 32px 0px 0px 32px;
  border-left: 1px solid #ebebeb;
}
.article_heading{
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.article_name{
  display: flex;
  flex: 0.70;
  align-items: center;
}
.article_day{
  color: #3c3c3c;
  font-size: 17px;
  opacity: 0.4;
}
.article_month_year{
  color: #3c3c3c;
  font-size: 10px;
  opacity: 0.4;
  width: 23px;
}
.article_date{
  align-content: center;
  justify-content: center;
  flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 80px;
    height: 80px;
    /* margin-top: 35px; */
    /* padding-left: 0px; */
    background-image: url("../img/lines.png");
}
.article_name_heading{
  text-transform: capitalize;
color: #3d3d3d;
font-size: 24px;
font-weight: 400;
font-style: normal;
line-height: normal;
letter-spacing: -0.5px;
}
.article_data img{
  width: 23px;
height: 17px;
opacity: 0.5;
color: #939799;
}
.article_summary{
height: 56px;
color: #909293;
font-size: 15px;
font-weight: 400;
font-style: italic;
letter-spacing: normal;
line-height: 21px;
text-align: justify;
padding: 0px 25px 35px 0px;
}
.article_annotation{
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 25px;
}
article h3{
color: #ae3b44;
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
letter-spacing: -0.4px;
line-height: normal;
}
.article_block_heading{
border-bottom: 1px solid #ebebeb;
margin-bottom: 25px;
}
.article_text{
  padding: 0px 0px 37px 0px;
}
.article_block_heading h3{
  margin-bottom: 22px;
}
.article_first_paragraf{
  padding-right: 20px;
  letter-spacing: -0.25px;
  margin-bottom: 35px;
}
article p{
color: #3c3c3c;
font-size: 12px;
font-weight: 400;
font-style: normal;
/* letter-spacing: normal; */
line-height: 19px;
text-align: justify;
/* padding: 5px 20px 0px 5px; */
}
.main_img{
  text-align: center;
  padding-right: 37px;
  margin-bottom: 35px;
}
.main_img img{
  border-bottom: 6px solid #000000;
  max-width: 490px;
}
.main_img_name{
  text-align: center;
  opacity: 0.5;
  color: #3c3c3c;
  font-size: 11px;
}
.add_img {
  float: left;
  margin-top: 32px;
  margin-bottom: 12px;
  margin-right: 30px;
}
.add_img_picture{
  max-width: 267px;
  border-bottom: 8px solid #000000;
}
.add_img + p{
  margin-top: 0;
  padding-top: 0px;
}
.article_second_paragraf{
  padding-right: 20px;
}
.article_last_paragraf{
  padding-right: 20px;
  padding-bottom: 22px;
}
.article_last_paragraf div:last-child{
  padding-top: 20px;
}
.paragraf, .article_last_paragraf p{
  letter-spacing: -0.2px;
}
.article_second_paragraf div:first-child{
  margin: 0px;
  padding-top: 0px;
}
.article_text p:last-child{
  clear: left;
  margin-top: 0;
}
.article_text p:nth-last-child(2){
  padding-top: 15px;
}
.pages{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pages a{
  font-size: 14px;
}
.pages span{
  color: #ae3b44;
}
 .pages_next{
  margin-right: 18px;
}
.pages_prev{
  margin-left: 22px;
} 
.fa-caret-right, .fa-caret-left{
  color: #787878;
  height: 12px;
}
.fa-caret-right{
  padding: 0px 4px;
}
.fa-caret-left{
  padding: 0px 4px;
}
.arrow_prev, .arrow_next{
  background-color: #dddddd;
  border-radius: 7px;
}
.arrow_next{
  padding-left: 2px;
}
.arrow_prev{
  padding-right: 2px;
}
.aside_block h2{
color: #212121;
font-size: 18px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.5px;
}
.aside_block_heading{
  background-image: url("../img/line.png");
  /* height: 41px; */
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
/* .active, .active_link{
  background-color:#ae3b44;
  color: #e9cbcd;
  border: none; */
  /* border-bottom: 2px solid #ae3b44;
  border-left: 5px solid #ae3b44; */
/* } */
.active a::after{
  content: ''; 
    position: absolute;
    left: 244px; 
    top: 15px;
    border: 5px solid transparent;
    border-left: 5px solid #ae3b44;
}
.aside_block{
  width: 245px;
  padding-top: 42px;
}
.aside_menu_list ul{
  position: relative;
  z-index: -1;
}
.aside_menu_list li{
  position: relative;
  z-index: 100;
}
.aside_menu_list{
  list-style-type: none;
  padding: 0;
  position: relative;
  margin-top: 0px;
}
.aside_menu_item{
  font-size: 13px;
  display: block;
  border-bottom: 1px solid #ebebeb;
}
.aside_menu_item{
  padding: 10px 0 10px 15px;
}
.aside_menu_list_middle_item{
  padding: 10px 0 12px 35px;
}
.aside_menu_list_low_item{
  padding: 10px 0 10px 35px;
  border-bottom: 1px solid #dbdbdb;
}
.aside_menu_item_sublist{
  border-top: none;
}
.aside_menu a{
  display: block;
  color: #3c3c3c;
  font-size: 13px;
  text-decoration: none;
}
.aside_menu a:hover{
  color:#ae3b44;
  cursor: pointer;
}
/* .aside_menu a:active{
  background-color:#ae3b44;
  color: #e9cbcd;
  border: none;
} */
/* .aside_menu_list a:active::after{
  content: ''; 
    position: absolute;
    left: 175px; 
    top: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #ae3b44;
} */
.aside_menu_list_middle{
  display: block;
  position: absolute;
  padding: 0px;
  background-color: #f4f7f8;
}
.aside_menu .aside_menu_list li:hover > .aside_menu_list_middle{
  display: inherit;
  background-color: #f4f7f8;
}
.aside_menu_list_low{
  display: block;
  position: absolute;
  padding: 0px;
  background-color: #eaeaea;
}
.aside_menu_list_middle .aside_menu_list_middle_element:hover > .aside_menu_list_low{
  display: inherit;
  background-color: #eaeaea;
}
.right_triangle{
  position: absolute;
  right: 10px;
}
/* .aside_menu_list a{
  margin-left: 5px;
} */
/* .aside_menu_list_middle a{
  padding-left: 25px;
} */
.aside_menu_list_low i{
  padding-right: 10px;
}
/* .element_with_triangle:hover > a > span > i {
  transform: rotate(90deg);
  transition: all 0.2s ease-in; 
 } */
 .active_triangle > a > span > i {
  transform: rotate(90deg);
  transition: all 0.2s ease-in;
}
.active{
  background-color:#ae3b44;
  /* border-bottom: 1px solid #ae3b44; */
  border-bottom: none;
  padding-bottom: 15px;
}
.active > a{
  background-color:#ae3b44;
  color:#ebced0;
}
 .active > a:hover{
  color:#ebced0;
 }
/* .aside_menu_list_low li:last-child{
  border-bottom: none;
} */




.our_clients{
  display: flex;
  padding: 14px 0 13px 0;
  justify-content: space-between;
  border-top: 1px solid #ebebeb; 
}
.our_clients_heading h5{
color: #212121;
font-size: 18px;
font-weight: 400;
font-style: normal;
letter-spacing: -0.12px;
}
.our_clients_heading{
  padding: 25px 0px 20px 25px;
}
.our_clients_list{
  display: flex;
    justify-content: space-around;
    flex: 0.95;
    align-items: center;
}
.client_logo{
  filter: grayscale(100%)
}
.client_logo:hover{
  filter: grayscale(0%)
}
footer{
  background-color: #f8f8f8;
  border-top: 1px solid #ebebeb;
}
.footer_links{
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_links h4{
color: #cbcbcb;
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: -0.1px;
line-height: normal;
margin-bottom: 18px;
}
.footer_links a{
color:  #cbcbcb;
font-size: 12px;
font-style: normal;
line-height: 19px;
display: inline-block;
}
.quick_links{
  flex: 0.4;
  padding-left: 18px;
}
.quick_links_all{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1;
}
.footer_links_item:hover{
  color:  #393939;
  opacity: 0.7;
}
.social_media_icons{
  display: flex;
  padding-left: 5px;
}
.social_media h4{
  margin-bottom: 20px;
}
.quick_links_security_social{
  display: flex;
  flex: 0.55;
  justify-content: space-around;
}
.social_media_icons .fab{
  font-size: 28px;
  filter: grayscale(100%);
  padding-right: 7px;
}
.fa-rss-square{
  font-size: 28px;
  filter: grayscale(100%);
}
.fa-twitter-square:hover{
  filter: grayscale(0%);
  color:#00acee;
}
.fa-facebook-square:hover{
  filter: grayscale(0%);
  color: #3b5998;
}
.fa-linkedin:hover{
  filter: grayscale(0%);
  color: #0e76a8;
}
.fa-rss-square:hover{
  filter: grayscale(0%);
  color: #ee802f;
}
.copyrights{
  margin-top: 15px;
  font-size: 11px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 19px;
color: #cbcbcb;
}